// src/pages/Company/Company.module.scss
/* src/pages/Company/Company.module.scss */

.heroSection {
    .heroOverlay {
      position: relative;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4); /* optional darker overlay */
      display: flex;
      align-items: center;
      padding: 2rem;
    }
  }

  