.footerContainer {
    background-color: #111; // dark background
    padding: 2rem 0;
    text-align: center; // Default to center for smaller screens
  }
  
  .footerContent {
    display: flex;
    justify-content: center; // Center everything
    align-items: center;
    flex-wrap: wrap; // Allow wrapping on smaller screens
  
    @media (min-width: 600px) {
      justify-content: space-between; // Only space out on larger screens
      text-align: left; // Align text left for large screens
    }
  }
  
  .leftSection, .rightSection {
    margin-bottom: 1.5rem; // Add spacing between sections for smaller screens
  
    .logo {
      width: 120px;
      height: auto;
      margin: 0 auto; // Center the logo
    }
  }
  
  .rightSection {
    .snsIcons {
      margin-top: 1rem;
      display: flex;
      justify-content: center; // Center icons
      gap: 1rem;
  
      a {
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  